body {
	background-color: grey;
}

.center {
	margin-left:100px;
	color : #0cfacebf;
}

.hrow {
	border-top : 1px solid #0cfacebf;
	margin-left: 2px;
	margin-right: 2px;
}

.back {
	width: 100%;
	height: 400px;
}

.middle {
	margin-top: 10px;
}

.quote {
	color: white;
	font-family: Brush Script MT;
	font-size: 60px;
	padding: 10%;
}

.slideImg {
	width: 70%;
}

.que {
	color: red;
	font-size: 30px;
	padding: 10%;
	margin-left: 30%;
}

.msg {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Algerian;
	font-size: 24px;
	color: #3f1227;
	font-style: italic;
    align-self: center;
}

.dicon {
	height: 200px;
	min-width: -webkit-fill-available;
}